.header__link {
    color: white;
    text-decoration: none;
    transition: opacity 0.3s ease;
    font-size: 18px;
    line-height: 22px;
}

@media(hover: hover) and (pointer: fine) {
    .header__link:hover {
      opacity: 0.6;
    }
}

@media (max-width: 767px) {
    .header__link {
        font-size: 14px;
        line-height: 17px;
    }
}