.header__nav {
    color: #FFF;
    list-style-type: none;
    font-size: 18px;
    line-height: 22px;
    display: flex;
    gap: 24px;
    align-items: center;
}

@media (max-width: 767px) {
    .header__nav {
        visibility: hidden;
        position: absolute;
        width: 100%;
        height: 142px;
        top:0;
        left: 0;
        justify-content: center;
        align-items: center;
        margin: auto;
        display: flex;
        flex-direction: column;
        gap: 18px;
        opacity: 0;
        /* transition: opacity 0.3s, visibility 0s 1s; */
    }
}