@import url(./vendor/normalize.css);
@import url(./vendor/fonts/inter.css);
@import url(./blocks/page/page.css);
@import url(./blocks/page/__container/page__container.css);
@import url(./blocks/header/header.css);
@import url(./blocks/header/_opened/header_opend.css);
@import url(./blocks/header/__logo/header__logo.css);
@import url(./blocks/header/__nav/header__nav.css);
@import url(./blocks/header/__nav/_opened/header__nav_opened.css);
@import url(./blocks/header/__link/header__link.css);
@import url(./blocks/header/__menu-burger/header__menu-burger.css);
@import url(./blocks/header/__menu-burger/_click/header__menu-burger_click.css);
@import url(./blocks/header/__user-login/header__user-login.css);
@import url(./blocks/header/__exit-btn/header__exit-btn.css);
@import url(./blocks/content/content.css);
@import url(./blocks/profile/profile.css);
@import url(./blocks/profile/__bio/profile__bio.css);
@import url(./blocks/cover/cover.css);
@import url(./blocks/profile/__avatar/profile__avatar.css);
@import url(./blocks/profile/__update-avatar/profile__update-avatar.css);
@import url(./blocks/profile/__info/profile__info.css);
@import url(./blocks/profile/__name/profile__name.css);
@import url(./blocks/profile/__edit/profile__edit.css);
@import url(./blocks/profile/__about/profile__about.css);
@import url(./blocks/profile/__add/profile__add.css);
@import url(./blocks/gallery/gallery.css);
@import url(./blocks/gallery/__list/gallery__list.css);
@import url(./blocks/gallery/__item/gallery__item.css);
@import url(./blocks/gallery/__image/gallery__image.css);
@import url(./blocks/gallery/__delete-button/gallery__delete-button.css);
@import url(./blocks/gallery/__delete-button/_visible/gallery__delete-button_visible.css);
@import url(./blocks/gallery/__delete-button/_hidden/gallery__delete-button_hidden.css);
@import url(./blocks/gallery/__info/gallery__info.css);
@import url(./blocks/gallery/__title/gallery__title.css);
@import url(./blocks/gallery/__like-container/gallery__like-container.css);
@import url(./blocks/gallery/__like/gallery__like.css);
@import url(./blocks/gallery/__like/_active/gallery__like_active.css);
@import url(./blocks/gallery/__like/_inactive/gallery__like_inactive.css);
@import url(./blocks/gallery/__number-like/gallery__number-like.css);
@import url(./blocks/footer/footer.css);
@import url(./blocks/footer/footer__copyright/footer__copyright.css);
@import url(./blocks/popup/popup.css);
@import url(./blocks/popup/_opened/popup_opened.css);
@import url(./blocks/popup/_view/popup_view.css);
@import url(./blocks/popup/__content/popup__content.css);
@import url(./blocks/popup/__content/_center/popup__content_center.css);
@import url(./blocks/popup/__close/popup__close.css);
@import url(./blocks/popup/__title/popup__title.css);
@import url(./blocks/popup/__title/_dark/popup__title_dark.css);
@import url(./blocks/popup/__title/_large/popup__title_large.css);
@import url(./blocks/input-container/input-container.css);
@import url(./blocks/popup/__input/popup__input.css);
@import url(./blocks/popup/__input/_dark/popup__input_dark.css);
@import url(./blocks/popup/__input/_error/popup__input_error.css);
@import url(./blocks/popup/__input-error/popup__input-error.css);
@import url(./blocks/popup/__input-error/_active/popup__input-error_active.css);
@import url(./blocks/popup/__save/popup__save.css);
@import url(./blocks/popup/__save/_dark/popup__save_dark.css);
@import url(./blocks/popup/__save/_inactive/popup__save_inactive.css);
@import url(./blocks/popup/__save/_update/popup__save_update.css);
@import url(./blocks/popup/__response/popup__response.css);
@import url(./blocks/popup/__figure/popup__figure.css);
@import url(./blocks/popup/__image/popup__image.css);
@import url(./blocks/popup/__subtitle/popup__subtitle.css);
@import url(./blocks/authorization/authorization.css);
@import url(./blocks/authorization/__signin/authorization__signin.css);
@import url(./blocks/authorization/__link/authorization__link.css);
@import url(./blocks/loader/loader.css);
@import url(./blocks/loader/_hidden/loader_hidden.css);
@import url(./blocks/loader/__spinner/loader__spinner.css);
