.header {
  padding-top: 45px;
  padding-bottom: 41px;
  border-bottom: 1px solid rgb(54,54,54,0.7);
  flex-shrink: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 767px) {
  .header {
    border-top: 1px solid rgb(54,54,54,0.7);
    padding: 28px 27px 31.6px;
    transition: 0.3s ease-in;
  }
}
